@page "/blogs/travel"

<h2>Travel Blogs</h2>
<p>Welcome to my travel blogs page. Check out my latest travel adventures below:</p>

<ul>
    <li><a href="/blogs/travel/chennai">Chennai Trip</a></li>
    <li><a href="/blogs/travel/travelblog2">Travel Blog 2</a></li>
    <li><a href="/blogs/travel/travelblog3">Travel Blog 3</a></li>
</ul>