@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<header class="navbar">
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="dropdown">
            <a href="#">Blogs</a>
            <ul class="dropdown-content">
                <li><a href="/blogs/travel">Travel</a></li>
                <li><a href="/blogs/technology">Technology</a></li>
                <li><a href="/blogs/philosophy">Philosophy</a></li>
                <li><a href="/blogs/random">Random</a></li>
            </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</header>

@{
    // Remove the query string and trailing slash if needed.
    var uri = new Uri(NavigationManager.Uri);
    var isHome = uri.AbsolutePath == "/";
}

@if (isHome)
{
    <div style="margin-top: 100px;">
        @Body
    </div>
}
else
{
    <div class="blog-container">
        @Body
    </div>
}

<footer class="footer">
    <p>&copy; @DateTime.Now.Year Your Name. All rights reserved.</p>
</footer>